################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Appointment.Core/obj
/Appointment.Core/bin/Debug/netcoreapp3.1
/Appointment/Appointment.iOS/obj/iPhoneSimulator
/Appointment/Appointment.iOS/obj
/Appointment/Appointment.iOS/bin/iPhone/Debug
/Appointment/Appointment.Android/Appointment.Android.csproj.user
/Appointment/Appointment.Android/obj/Debug/110/android/bin
/Appointment/Appointment/bin/Debug/netstandard2.0
/Appointment/Appointment/obj
/Appointment/Appointment.Android/bin/Debug
/Appointment/Appointment.Android/obj
/SmartAppointment/SmartAppointment/obj
/SmartAppointment/SmartAppointment/bin/Debug
/SmartAppointment/SmartAppointment.Android/bin/Debug
/SmartAppointment/SmartAppointment.Android/obj
/SmartAppointment/SmartAppointment.iOS/bin/iPhone/Debug
/SmartAppointment/SmartAppointment.iOS/obj
/SmartAppointment.Core/bin/Debug/netstandard2.1
/SmartAppointment.Core/obj
/SmartAppointment/SmartAppointment/bin/Release/netstandard2.1
/SmartAppointment/SmartAppointment.Android/bin/Release
/SmartAppointment/SmartAppointment.iOS/bin/iPhoneSimulator/Release
/SmartAppointment.Core/bin/Release/netstandard2.1
/FunctionApps/DataAccessAPIs/.vscode
