<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dataaccessapis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/777e8217-7e4b-44cb-b997-ccae49023501/resourceGroups/appointment/providers/Microsoft.Web/sites/dataaccessapis</ResourceId>
    <UserName>$dataaccessapis</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dataaccessapis.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>