<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://appointment.documents.azure.com:443/" />
		<add key="PrimaryKey" value="UJGWPgkd9wSQ28FfmfVUis9jHIJrW1P3VY9CBcjJGsq2AsM1vCU6QRdq18uVD9YhC52w0K9QimeNF0VohvbDiA==" />
	</appSettings>
</configuration>

